* {
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:100%;

}



#list {
	.list-header {
		position:fixed;
		background:#F64744;
		width:100%;
		height:0.44rem;
		line-height:0.44rem;
		font-size: 0;

		input {

			height:68%;
			width:80%;
			border:0;
			padding-left:0.3rem;
			position:relative;
			display:table-cell;
			
			color:black;
			border-radius:0;
			font-size:0.16rem;



		}

		.icon-sousuo {
			position:absolute;
			left:0.53rem;
			padding-top:0.03rem;
			font-size:0.27rem;
			color:#999;
		}

		.icon-fanhui {
			color:white;
			padding-left:0.06rem;
			padding-right:0.33rem;
			font-weight:bolder;
			
		}

	}

	.main {
		position:fixed;
		top:0.44rem;
		width:100%;

		background:white;
		height:0.38rem;
		overflow:hidden;
		border-bottom:1px solid #ccc;

		.main-list {
			font-size: 0.16rem;
			width:33%;
			float:left;
			list-style:none;
			text-align:center;
			line-height:0.38rem;
			border-right:1px solid #ccc;

			span {

			}

			.two {
				display:none;
			}
		}

		.no-border {
			border-right:0px;
		}
	}

	.container {
		// position:relative;
		// top:0.83rem;
		padding-top:0.82rem;
		background:white;
		clear: both;
		li {
			width:100%;
			overflow: hidden;
			list-style: none;
			border-bottom:1px solid #ccc;

			img {
				width:30%;
				float:left;
				padding:0.1rem;

			}

			.left {
				// float:left;
				padding-top:0.08rem;
				// padding-bottom:9px;
				display: block;

				h3 {
					font-size:0.16rem;
					font-weight: normal;
				}

				p {
					font-size:0.12rem;
					padding-top:0.04rem;
				}


			} 

			.down {

				align-items:center;
				display: flex;
				justify-content: space-between;
				font-size: 0;
				display: block;
				padding-top:0.09rem;
				// line-height:12px;
				.list-price {
					float:left;
				}
				.list-buynum {
					float:right;
					padding-right:0.05rem;
				}

				span {
					color:#F64744;
					font-size:0.21rem;
					font-weight:700;
				}

				i {
					
					font-size: 0.12rem;
				}

				s {
					font-size: 0.12rem;
					padding-left:0.08rem;
					// padding-right:1rem;
				}

				b {
					font-weight: normal;
					font-size:0.12rem;
					
				}
			}
		}
	}
}